---
subject: Intro Example
---

<container>
  <row>
    <columns small="12" large="4">
      <img src="https://placehold.it/500x400&text=Image" width="171" height="137" alt="Placeholder Image">
    </columns>
    <columns small="12" large="8">
      <h4>I'm a headline!</h4>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>

      <button href="#" class="small-expanded">Learn more</button>
    </columns>
  </row>
</container>
